.power {
  background-color: #1b1b1b;
  color: #655dd3;
  padding: 7px;
  border-radius: 10px;
  
}

.power-menu button:hover {
  color: #655dd3;
}           

//bar
* {
  all: unset; // Unsets everything so you can style everything from scratch
}
.time-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

// Global Styles
.bar {
  background-color: #1b1b1b;
  color: #16caee;
  padding: 7px;
  border-radius: 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}



.metric scale trough highlight {
  all: unset;
  background-color: #16caee;
  color: #ffffff;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspaces button:hover {
  color: #655dd3;
}

//end bar

//activate linux
.activate-linux {
  color: rgba(255, 255, 255, 0.322);

  &.background {
    background: none;
  }
}

//end activate linux