* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 20px;
}

window#waybar {
  background: #121213;
  border-radius: 10px;
}

/* часы внутри */
#clock {
  color: #373fad;
}
#pulseaudio-slider {
    padding: 0;
    margin: 0;
    color: #373fad;
}