* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
}

window#waybar {
    background: #1d1d1d;
    border-radius: 10px;
    overflow: hidden;
}

#workspaces button {
    color: #373fad;
    background: transparent;
    border: none;
    padding: 0 8px;
    margin: 0;
}

#workspaces button.active {
    color: #ffffff;
    background: #ff6f00;
}
#workspaces button:hover {
    background: rgba(255,255,255,0.15);
    color: #ffffff;
}


#clock {
  color: #373fad;
}
#pulseaudio-slider {
    color: #373fad;
}