* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background: transparent;
}

/* плашка */
#group-clockbox {
  background-color: #26266d;
  padding: 6px 16px;
  margin: 4px;
  border-radius: 12px;
}

/* часы внутри */
#group-clockbox #clock {
  color: #ffffff;
}
