* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
}

window#waybar {
    background: #1d1d1d;
    border-radius: 10px;
}

#workspaces button {
    color: #373fad;
    background: transparent;
    border: none;
    padding: 0 8px;
    margin: 0;
    border-radius: 10px;
}

#workspaces button.active {
    color: #ffffff;
    background: #fabd2f;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.15);
    color: #ffffff;
}

#clock {
  color: #373fad;
}
#pulseaudio-slider {
    color: #373fad;
}