* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background: #121213;
}

/* часы внутри */
#clock {
  color: #999999;
}

#hyprland/workspaces{
    color: #999999;
}
#sway/language{
    color: #999999;
}